@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
  ViewBag.Title = "Decimal-2-Fraction Results";
}

<h2>Convertion results</h2>
<h3>
    @ViewBag.DoubleToFractionNum
    <strong> = </strong>
    @ViewBag.DoubleToFractionResult
</h3>
